@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
:root {
    --dark-grey: #1e2328;
    --grey: #3b3f46;
    --light-grey: #888;
    --yellow: #ffb81c;
    --yellow-shade-1: #ffe81c;
    --yellow-shade-2: #ffd069;
    --black: #000;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}


html, body {
    height: 100%;
    background: var(--black);  /* linear-gradient(to right,#E7E7E7,white,#E7E7E7); */
}

.container {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 270px;
    margin: 70px auto;
    position: relative;
}

.word {
    display: block;
    text-align: justify;
    font-family: "BenchNine", serif;
    line-height: 0.8;
    text-transform: uppercase;
    letter-spacing: 0;
}

.word1, .word2 {
    color: var(--yellow);
}

.word3, .word4 {
    color: var(--yellow-shade-1);
}

.word5, .word6 {
    color: var(--yellow-shade-2);
}

.word7 {
    color: var(--light-grey);
}

.word8, .word9 {
    color: var(--grey);
}

.word10, .word11 {
    color: var(--dark-grey);
}

.word12, .word13 {
    color: var(--white);
}

.word1 {
    font-size: 7em;
}

.word2 {
    font-size: 5.5em;
}

.word3 {
    font-size: 4.8em;
}

.word4 {
    font-size: 6.4em;
}

.word5 {
    font-size: 3.8em;
}

.word6 {
    font-size: 6em;
}

.word7 {
    font-size: 4.5em;
}

.word8 {
    font-size: 4.8em;
}

.word9, .word11 {
    font-size: 7.9em;
}

.word10 {
    font-size: 4.9em;
}

.word12 {
    font-size: 8.2em;
}

.word13 {
    font-size: 7.8em;
}

.bubble1 {
    height: 75px;
    width: 75px;
    position: absolute;
    color: black;
    background-color: var(--yellow);
    font-family: "Open Sans Condensed", serif;
    border-radius: 0 20px 0 20px;
    top: 0;
    left: -100px;
    padding: 10px;
    font-size: 1.5em;
    line-height: 1;
}

.bubble1 span.the-arrow1 {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 0 solid var(--yellow);
    border-bottom: 12px solid var(--yellow);;
    position: absolute;
    top: 63px;
    left: 75px;
    transform: rotateY(180deg);
}

.bubble2 {
    height: 150px;
    width: 220px;
    padding: 20px;
    position: absolute;
    color: black;
    background-color: var(--yellow);
    font-family: "Open Sans Condensed", serif;
    border-radius: 30px 0 30px 0;
    left: 100%;
    top: 1px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}

.bubble2 span.the-arrow2 {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0 solid var(--yellow);;
    border-bottom: 20px solid var(--yellow);;
    position: absolute;
    top: 130px;
    left: -19px;
}

.bubble3 {
    height: 200px;
    width: 250px;
    padding: 20px;
    position: absolute;
    color: black;
    background-color: var(--yellow-shade-1);
    font-family: "Open Sans Condensed", serif;
    font-size: 20px;
    border-radius: 30px 0 30px 0;
    top: 183px;
    left: -280px;
}

.bubble3 span.the-arrow3 {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0 solid var(--yellow-shade-1);
    border-bottom: 20px solid var(--yellow-shade-1);
    position: absolute;
    top: 0;
    left: 250px;
    transform: rotate(180deg);
}

.bubble4 {
    height: 180px;
    width: 250px;
    padding: 20px;
    position: absolute;
    color: black;
    background-color: var(--yellow-shade-2);
    font-family: "Open Sans Condensed", serif;
    border-radius: 30px 0 30px 0;
    top: 240px;
    left: 280px;
}

.bubble4 span.the-arrow4 {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0 solid var(--yellow-shade-2);
    border-bottom: 20px solid var(--yellow-shade-2);
    position: absolute;
    top: 160px;
    left: -19px;
}

.bubble5 {
    height: 200px;
    width: 250px;
    padding: 20px;
    position: absolute;
    color: black;
    background-color: var(--light-grey);
    font-family: "Open Sans Condensed", serif;
    border-radius: 30px 0 30px 0;
    top: 450px;
    left: -280px;
}

.bubble5 span.the-arrow5 {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0 solid var(--light-grey);
    border-bottom: 20px solid var(--light-grey);
    position: absolute;
    top: 0;
    left: 250px;
    transform: rotate(180deg);
}

.bubble6 {
    height: 250px;
    width: 250px;
    padding: 20px;
    position: absolute;
    color: white;
    background-color: var(--grey);
    font-family: "Open Sans Condensed", serif;
    border-radius: 0 30px 0 30px;
    top: 510px;
    left: 280px;
    line-height: 1.8;
}

.bubble6 span.the-arrow6 {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0 solid var(--grey);
    border-bottom: 20px solid var(--grey);
    position: absolute;
    top: 0;
    left: -19px;
    transform: rotateX(180deg);
}

.bubble7 {
    height: 300px;
    width: 250px;
    padding: 20px;
    position: absolute;
    color: white;
    background-color: var(--dark-grey);
    font-family: "Open Sans Condensed", serif;
    border-radius: 30px 0 30px 0;
    top: 710px;
    left: -280px;
}

.bubble7 span.the-arrow7 {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0 solid var(--dark-grey);
    border-bottom: 20px solid var(--dark-grey);
    position: absolute;
    top: 0;
    left: 250px;
    transform: rotate(180deg);
}

.bubble8 {
    height: 180px;
    width: 300px;
    padding: 20px;
    position: absolute;
    color: black;
    background-color: var(--white);
    font-family: "Open Sans Condensed", serif;
    font-size: 20px;
    border-radius: 30px 0 30px 0;
    top: 890px;
    left: 280px;
}

.bubble8 span.the-arrow8 {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0 solid var(--white);
    border-bottom: 20px solid var(--white);
    position: absolute;
    top: 160px;
    left: -19px;
}

#portfolio {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    /*letter-spacing: 5px;*/
    font-family: "Open Sans Condensed", serif;
    cursor: pointer;
}
#portfolio a:link    { color: white; }
#portfolio a:visited { color: white; }
#portfolio a:hover   { color: white; }
#portfolio a:active  { color: white; }